@import "../../../scss/vars";

.products {
   & .products_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
      gap: 3.5rem 2.5rem;
      padding: 2rem;
   }
}
