@import "../../../scss/vars";

.header {
   background-color: $orange;
   padding: 1rem 2rem;
   height: 60px;
   display: flex;
   align-items: center;

   .header_row {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header_logo {
      font-size: 18px;
      color: #fff;
      cursor: pointer;

      span {
         font-size: 25px;
         font-weight: bold;
      }
   }
   .header_nav {
   }
   .header_list {
      display: flex;
      align-items: center;
      gap: 3.2rem;
   }
   .list_item {
      & .item_cont {
         color: #fff;
         font-size: 1.7rem;
         font-weight: bold;
         display: flex;
         align-items: center;
         gap: 0.7rem;
         cursor: pointer;

         .cart_icon {
            font-size: 2.1rem;
         }
         span {
         }
      }
   }
}
