$grey: rgba(138, 138, 138, 0.397);
$grey_light: rgba(221, 221, 221, 0.199);

$orange: rgb(248, 171, 70);
$orange_dis: rgba(255, 159, 32, 0.4);
$orange_hover: rgba(250, 121, 0, 1);

$seconary: rgba(17, 17, 17, 0.747);
